<div>
  <img src="../../assets/photos/Profile 7.jpg" />
  <div>
    <mat-icon svgIcon="music"></mat-icon>
    <div>The Deep South</div>
    <div>Josh Ritter</div>
    <div>Rag'n'Bone Man</div>
    <div>Imagine Dragons</div>
    <div>Aubrey Logan</div>
  </div>
  <div>
    <mat-icon svgIcon="flag"></mat-icon>
    <div>Le Canoe Volant</div>
    <div>The Fringe</div>
    <div>Heritage Days</div>
    <div>Board Games</div>
    <div>Ski Trips</div>
  </div>
  <div>
    <mat-icon svgIcon="beer"></mat-icon>
    <div>Micro Breweries</div>
    <div>Next Act</div>
    <div>Sushi</div>
    <div>Ice Cream</div>
    <div>Overly Fancy Cupcakes</div>
  </div>
</div>
