<mat-card>
  <mat-card-header class="bg-color-goldenrod">
    <div id="name-div" class="d-flex justify-content-between align-items-center">
      <h5 id="name">Socials</h5>
      <button class="card-btn" mat-icon-button *ngIf="!isEditMode" (click)="toggleEditMode()">
        <mat-icon svgIcon="edit"></mat-icon>
      </button>
      <button class="card-btn" id="confirm-btn" mat-icon-button *ngIf="isEditMode" (click)="toggleEditMode()">
        <mat-icon svgIcon="save"></mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let social of socials">
      <div class="row m-1 my-3">
        <div class="col-2 d-flex align-items-center">
          <mat-icon [svgIcon]="social.icon"></mat-icon>
        </div>
        <div class="col-10" *ngIf="isEditMode">
          <mat-form-field>
            <input matInput [(ngModel)]="social.url" />
          </mat-form-field>
        </div>
        <div class="col-10" *ngIf="!isEditMode">
          {{social.url}}
        </div>
      </div>
    </div>
    <div *ngIf="isEditMode">
      <button id="add-btn" mat-icon-button (click)="onAddRecord()">
        <mat-icon svgIcon="add"></mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>