<mat-card>
  <mat-card-header class="bg-color-goldenrod">
    <div id="name-div" class="d-flex justify-content-between align-items-center">
      <h5 id="name">Messages</h5>
      <button class="card-btn" mat-icon-button>
        <mat-icon svgIcon="add"></mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let message of messages">
      <app-message [message]="message"></app-message>
      <div class="border-div"></div>
    </div>
  </mat-card-content>
</mat-card>