mat-toolbar h1 {
  margin: auto;
  font-size: 3rem;
  color: black;
}

.mat-mini-fab {
  background-color: black;
  color: goldenrod;
}

.mat-menu-item {
  line-height: 2rem;
  height: 2rem;
}

.border-div {
  border-bottom: 1px solid grey;
  margin: auto;
  width: 80%;
}

.mat-grid-list {
  margin: 1rem 7rem;
}
