<header>
  <mat-toolbar class="bg-color-goldenrod">
    <h1>IN TOUCH</h1>
    <button mat-mini-fab class="x" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu class="y" #menu="matMenu">
      <button mat-menu-item>My Profile</button>
      <div class="border-div"></div>
      <button mat-menu-item>Setting</button>
      <div class="border-div"></div>
      <button mat-menu-item>Privacy</button>
      <div class="border-div"></div>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </mat-toolbar>
</header>
<app-profile></app-profile>
<app-personal-info></app-personal-info>
<app-socials></app-socials>
<app-message-list></app-message-list>
<app-feed-list></app-feed-list>